* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: yellow;
    display: flex;
    padding: 120px 120px 0px 120px;
    
}

header {
    /* margin: 70px 100px; */
}

h1 {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.heading-flower{
    padding: 0px;

}

.heading para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #E55473;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
}
.second-part{
    text-align: center;
    
}
.three-flowers{
    display: flex;
    margin: 20 px;
}

.three-flowers{
    justify-content: center;
    padding: auto 50px 0px 50px;
}
}